<h1>Alpha Blog - About Us</h1>
<%= image_tag("/img/origami.jpg", size: "160x100", :alt => "origami") %>
<p>This is some content about the Alpha Blog</p>
<%= link_to "Home", root_path %>
<footer>Copyright @2015</footer>