<h1>Alpha Blog</h1>
<%= image_tag("/img/origami.jpg", size: "160x100", :alt => "origami") %>
<p>This is some intro about the alpha blog</p>
<p>This is some intro about the alpha blog</p>
<%= link_to "About", about_path %>
<footer>Copyright @2015</footer>