<div class="jumbotron center">
  <h1>Alpha Blog</h1>
  <p>This is the perfect place for you to express what you want and read what you love!</p>
  <p><%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg btn-custom-color btn-xlarge" %></p>
</div>



<!-- <%= link_to "Alpha Blog", articles_path %> | <%= link_to "About", about_path %> -->
<!-- <footer>Copyright @2015</footer> -->
