<div class="container">
<footer class="footer">
<small>
Copyright © <a href="https://alpha-blog-meha.heroku.com">Alpha Blog</a>
by <a href="http://mehavardhini.com">Mehavardhini</a>
</small>
<nav>
<ul>
<li><%= link_to "About", about_path %></li>
</ul>
</nav>
</footer>
</div>
